body {
    background-color:#ffdbac; 
    margin: 0;
    padding: 0;
}

div{
   display: grid;
   justify-content: center;
}

h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#button1{
    background-color: #8d5524; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#button2{
    background-color: #c68642; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#button3{
    background-color: #e0ac69; 
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#button4{
    background-color: #f1c27d; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#button5{
    background-color: #ffdbac; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
svg{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}